@theme {
	--font-sans: var(--font-aspekta);
	--font-mono: var(--font-fragment-mono);
	--font-pixel: var(--font-vsr-osd);

	--text-heading-48: var(--text-5xl);
	--text-heading-32: var(--text-4xl);
	--text-heading-28: var(--text-3xl);
	--text-heading-24: var(--text-2xl);
	--text-heading-20: var(--text-xl);

	--text-btn-16: var(--text-base);
	--text-btn-14: var(--text-sm);

	--text-copy-16: var(--text-base);
	--text-copy-14: var(--text-sm);

	--text-label-12: var(--text-xs);
	--text-label-10: 0.625rem; /* 10px */
}
